@import "utilities/variables";


.inline-section-wrapper{
  display: flex;
  justify-content: space-between;
}

.game-banner{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.media-wrapper{
  width: 350px;
  flex-shrink: 0;
  position: relative;
  text-align: center;

  & > img, & > iframe{
    margin: 20px 0px 0px 10px;
    width: 100%;
    min-height: 250px;
    background-color: black;
    object-fit: contain;
    box-sizing: border-box;
    border: none;
  }
}

@media screen and (max-width: $mobile-width-scope) {
  h3{
    text-align: center;
  }

  .inline-section-wrapper{
    flex-direction: column;
    justify-content: center;
  }

  .media-wrapper{
    width: 100%;

    & > img, & > iframe{
      margin: 0;
      margin-top: 10px;
      width: 100%;
    }
  }
}
