@import "utilities/variables";

.headroom{
  z-index: 2 !important;

  &.headroom--pinned{
    & > header{
      background-color: $theme-color !important;
      z-index: 2;

      & > .nav-container{
        justify-content: space-between;

        & > .header-title{
          color: white;
          display: block;
        }

        & a{
          color: white;

          &.active{
            color: #222;
          }

          &:not(.active):hover{
            color: LightPink;
          }
        }
      }
    }
  }
}

header{
  padding: 0px 10px 0px 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;

  -webkit-transition: background-color .2s ease-out;
     -moz-transition: background-color .2s ease-out;
       -o-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;

  &.start-below{
    & > .nav-container{
      justify-content: flex-end;
    }
    & .header-title{
      display: none;
    }
  }

  & .nav-container{
    max-width: $content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .header-title{
      color: #222;
    }

    & > nav{
      display: flex;
      flex-direction: row;

      & > a{
        color: Gray;
        font-family: $default-font;
        font-size: 13px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        word-spacing: -5px;

        &:not(:last-child){
          margin-right: 20px;
        }

        &:not(.active){
          &:hover{
            color: #222;
          }

          &:active{
            color: LightPink;
          }
        }
      }
    }
  }
}
