@import "utilities/variables";

.banner-wrapper{
  height: 600px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 50px;
}

.featured-game-list{
  padding: 0;
  margin: 0;
  list-style: none;

  & > li{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: #222;
  }
}

.game-list{
  padding: 0px 20px 20px 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 30px;

  & > li{
    & > a{
      font-size: 14px;
      color: Gray;
      text-decoration: none;

      &:hover{
        color: #222;
        text-decoration: underline;
      }
    }

    &:not(:first-child):before{
      content: "·";
      font-size: 30px;
      margin: 0 10px 0 10px;
      vertical-align: top;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-width-scope) {
  .Home > .content{
    padding: 0 !important;
  }
  .section-label{
    text-align: center;
  }
}
