@import "utilities/variables";

.banner-wrapper{
  height: 600px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & > *{
    z-index: 1;
  }

  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: .86;
  }
}

.title{
  font-size: 50px;
  word-break: break-all;
  text-align: center;
}

.motto{
  color: white;
  font-size: 20px;
}

header{
  padding: 0px 10px 0px 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;

  -webkit-transition: background-color .2s ease-out;
     -moz-transition: background-color .2s ease-out;
       -o-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;

  & .nav-container{
    max-width: $content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > .header-title{
      color: white;
      display: none;
    }

    & > nav{
      display: flex;
      flex-direction: row;

      & > a{
        color: #222;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        word-spacing: -5px;

        &:not(:last-child){
          margin-right: 20px;
        }

        &:not(.active){
          &:hover{
            color: LightGray;
          }

          &:active{
            color: LightPink;
          }
        }
      }
    }
  }

  &.sticky{
    background-color: $theme-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-backface-visibility: hidden;

    -webkit-transition: transform .2s ease-out;
       -moz-transition: transform .2s ease-out;
         -o-transition: transform .2s ease-out;
            transition: transform .2s ease-out;

    &.hide-nav{
      transform: translateY(-50px);

      -webkit-transition: transform 0s ease-out;
         -moz-transition: transform 0s ease-out;
           -o-transition: transform 0s ease-out;
              transition: transform 0s ease-out;
    }

    & + *{
      margin-top: 50px !important;
    }

    & > .nav-container{
      justify-content: space-between;

      & > .header-title{
        display: block;
      }

      & a{
        color: #222;

        &.active{
          color: white;
        }

        &:not(.active):hover{
          color: LightPink;
        }
      }
    }
  }
}

.featured-game-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.featured-game{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: .6;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;

    -webkit-transition: opacity .2s ease-out;
       -moz-transition: opacity .2s ease-out;
         -o-transition: opacity .2s ease-out;
            transition: opacity .2s ease-out;
  }

  & > *{
    color: white;
    pointer-events: none;
    z-index: 1;
  }

  & > .thumbnail-image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  & > .thumbnail-title{
    margin: 20px 0px 20px 0px;
    letter-spacing: 2px;
  }
  & > .thumbnail-category{
    margin-bottom: 10px;
    padding: 0px 20px 0px 20px;
    // box-sizing: border-box;

    & > span:not(:first-child):before{
      content: "■";
      color: $theme-color;
      padding: 0px 10px 0px 10px;
      vertical-align: middle;
    }
  }
  & > .thumbnail-platform{
    font-size: 20px;

    & > i:not(:first-child){
      margin-left: 5px;
    }
  }

  &:hover{
    & > .thumbnail-title{
      color: $theme-color;
    }
    &:before{
      opacity: .8;
    }
  }

  &:active:before{
    opacity: .8;
  }
}

.section-wrapper{
  padding-bottom: 35px;

  &:first-child{
    padding-top: 35px;
  }
}

.game-list{
  padding: 0px 20px 20px 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 30px;

  & > li{
    & > a{
      font-size: 18px;
      color: #222;
      text-decoration: none;

      &:hover, &:active{
        color: $theme-color;
      }
    }

    &:not(:first-child):before{
      content: "■";
      color: $theme-color;
      margin: 0 10px 0 10px;
      vertical-align: top;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-width-scope) {
  .Home > .content{
    padding: 0 !important;
  }
  .section-label{
    text-align: center;
  }
  header > .nav-container, header.sticky > .nav-container{
    justify-content: center;
    & .header-title{
      display: none !important;
    }
  }
}
