@import "utilities/variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

.facebook-icon:hover{
  color: #222;
  // color: #6279B1;
}

.twitter-icon:hover{
  color: #222;
  // color: #1dcaff;
}
