@import "utilities/variables";

footer{
  width: 100%;
  padding-top: 15px;
  color: #222;
  background-color: $custom-gray;
}

.footer-icon{
  color: #222;
  font-size: 25px;

  &:not(:first-child){
    margin-left: 20px;
  }
}

.content-wrapper{
  padding-bottom: 15px;
  width: 100%;

  & > .content{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    & > .section{
      display: block;
    }
  }
}

footer{
  & .content-wrapper > .content{
    flex-direction: row;
  }
}

.contact-info{
  display: inline-block;
  vertical-align: top;

  &:last-child{
    padding-left: 20px;
  }

  &:not(:last-child){
    margin-bottom: 15px;
  }

  & > h6{
    margin: 0;
    margin-bottom: 10px;
  }

  & > .contact-name{
    color: #222;
  }

  & > .contact-detail{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
    color: Gray;
    text-decoration: none;

    & > .mdi{
      padding-right: 5px;
    }
  }
}

.contact-detail:hover{
  color: $theme-color;
}

a.contact-detail:hover{
  text-decoration: underline;
}

.copyright-info{
  margin-top: 20px;
  color: Gray;
  font-size: 11px;
}

p{
  color: #222;
  font-size: 18px;
  line-height: 30px;
}

// Mobile
@media screen and (max-width: $mobile-width-scope) {
  p{
    text-align: center;
  }
  footer > .content-wrapper > .content{
    width: 100%;
    flex-direction: column;

    & > .section{
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .contact-info{
    margin: 0;
    text-align: center;

    &:last-child{
      padding: 0;
    }
  }
  .copyright-info{
    text-align: center;
  }
  .contact-detail > .mdi{
    display: none;
  }
}

.icon-wrapper{
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
