@font-face {
  font-family: 'Futura';
  src: url(../assets/fonts/FuturaStd-Bold.otf);
}

@font-face {
  font-family: 'Futura-Light';
  src: url(../assets/fonts/FuturaStd-Medium.otf);
}

$content-width: 900px;
$theme-color: #FF0054;
$custom-gray: #f0f0f0;
$mobile-width-scope: 600px;
$default-font: 'Futura';
$secondary-font: 'Futura-Light';
