@font-face {
  font-family: 'Futura';
  src: url(../assets/fonts/FuturaStd-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Futura-Light';
  src: url(../assets/fonts/FuturaStd-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url(../assets/fonts/Inconsolata-Bold.ttf);
}

$content-width: 900px;
$theme-color: #FF0054;
$custom-gray: #f0f0f0;
$mobile-width-scope: 600px;
$default-font: 'Futura';
$default-font-light: 'Futura-Light';
$bold-font: 'Inconsolata-Bold';
$secondary-font: 'Inconsolata-Regular';
