@font-face {
  font-family: 'Futura';
  src: url(../assets/fonts/FuturaStd-Bold.otf);
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url(../assets/fonts/Inconsolata-Bold.ttf);
}

$content-width: 900px;
$theme-color: #FF0054;
$custom-gray: #f0f0f0;
$mobile-width-scope: 600px;
$default-font: 'Futura';
$bold-font: 'Inconsolata-Bold';
$secondary-font: 'Inconsolata-Regular';
